<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Hospital Doctor list</title>
</head>
<body>

<div class="container-fluid">
    <hr>

    <p>
        <a th:href="@{/hospitalDoctor/showFormForAdd}"
           class="btn btn-primary btn-sm mb-3">
            Hire Doctor
        </a>
    </p>
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Hospital id</th>
            <th>Doctor id</th>
            <th>Date started</th>
            <th>Department</th>
            <th>Position</th>
            <th>Supervisor</th>
            <th>Status</th>
            <th>Part time</th>
            <th>Home consult</th>
            <th>Last modified by</th>
            <th>Action</th>
        </tr>
        </thead>
        <tr th:each="tempHospitalDoctor : ${hospitalDoctor}">
            <td th:text="${tempHospitalDoctor.hospital.getId()}"></td>
            <td th:text="${tempHospitalDoctor.doctor.getId()}"></td>
            <td th:text="${tempHospitalDoctor.dateStarted}"></td>
            <td th:text="${tempHospitalDoctor.department}"></td>
            <td th:text="${tempHospitalDoctor.position}"></td>
            <td th:text="${tempHospitalDoctor.supervisor}"></td>
            <td th:text="${tempHospitalDoctor.status}"></td>
            <td th:text="${tempHospitalDoctor.partTime}"></td>
            <td th:text="${tempHospitalDoctor.homeConsult}"></td>
            <td th:text="${tempHospitalDoctor.lastModifiedBy}"></td>
            <td>
                <!--add update button-->
                <a th:href="@{/hospitalDoctor/showFormForUpdateHospitalDoctor(hospitalDoctorId=${tempHospitalDoctor.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>

                <!--add delete button-->
                <a th:href="@{/hospitalDoctor/delete(hospitalDoctorId=${tempHospitalDoctor.id})}" class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are u sure you want to delete this record?')))return false ">Delete</a>
            </td>

        </tr>
    </table>



    <p>
        <a class="simple-link" th:href="@{/}">Home</a>
    </p>

</div>
</body>
</html>